# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

##pycache
__pycache__/

## User auth token
__GITHUB__.py

## Output data
test_course/output/
*.tar.gz
